<%= form_for @roster do |f| %>
  <fieldset id="form">
    <div class="input-options">
      <%= f.label :name, 'Roster name (required): ' %>
      <%= f.text_field :name, minlength: 4, maxlength: 50 %>
    </div>
    <div class="input-options">
      <%= f.label :description, 'Description (optional): ' %>
      <%= f.text_area :description %>
    </div>
    <div class="form-button">
      <%= f.submit 'Create Roster', class: 'button-user' %>
    </div>
  </fieldset>
<% end %>

<% if @errors %>
  <% @errors.each do |error| %>
    <p class="error"><%= error %></p>
  <% end %>
<% end %>