<h1>Roster: <%= @roster.name %></h1>

<p>Reading Coach: <%= current_user.username %></p>

<p><i><%= @roster.description %></i></p>

<ul>
  <% @roster.readers.each do |reader| %>
    <li><b>Reader: <%= reader.name %></b><% if reader.name? %>, Username: "<%= reader.username %>"<% end %> <%= link_to 'Reader', reader_path(id: reader.id) %> | <%= link_to 'Log', logs_path(reader_id: reader.id, roster_id: @roster.id) %></li>
  <% end %>
</ul>

<p>Add a <%= link_to 'new Reader', new_logs_path(reader_id: ) %></p>

<p>Return to <%= link_to 'Rosters Index', rosters_path(id: @roster.id) %>.</p>